{% extends 'blog/base.html' %}
{% load materializecss %}

{% block title %} Blog {% endblock %}

{% block content %}
  <h1>Add a new post</h1>
  <div class="divider"></div>
  <div class="row">
    <form class="col s12" method="post" action="{% url 'blog:add' %}">
      
      {% csrf_token %}
      {{ form|materializecss}}
      
      <button class="btn waves-effect waves-light" type="submit">Save
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>

{% endblock %}

